<div class="footer">
  <div class="ui container">
    <div class="ui stackable grid">
      <div class="ten wide centered column">
        <div class="ui basic segment">

          <p>
            Children of Hope Child Development Center is an outreach
            ministry of Esperanza Lutheran Church, ELCA.
          </p>

          <p>
            <a href="https://www.facebook.com/pages/Children-of-Hope-PreschoolChild-Development-Center-of-Ahwatukee/156923364318375">
              <i class="big facebook square icon"></i>
            </a>
          </p>

          <div class="ui list">
            <div class="item">Children of Hope</div>
            <div class="item">2601 E. Thunderhill Place Phoenix, AZ 85048</div>
            <div class="item">(480) 759-1515</div>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>
