<div class="center aligned basic segment">
  <a href="{{ site.baseurl }}/">
    <img src="{{ site.baseurl }}/assets/images/cohcdc-logo-alt.png"
      alt="Children of Hope Child Development Center" class="ui centered image" />
  </a>
  <div class="ui fluid centered collapsing four item navigation secondary pointing menu">
    <a class="item" href="{{ site.baseurl }}/">Home</a>
    <div class="ui dropdown item">
      Info
      <i class="dropdown icon"></i>
      <div class="menu">
        <a class="item" href="{{ site.baseurl }}/assets/forms/2025-2026/COH_Family_Handbook.pdf">Family Handbook</a>
        <a class="item" href="{{ site.baseurl }}/assets/forms/2021-2022/COH_COVID-19_Policies_and_Protocols.pdf">COVID-19 Policies & Protocols</a>
        <a class="item" href="{{ site.baseurl }}/newsletter">Newsletter</a>
        <a class="item" href="{{ site.baseurl }}/announcements">Announcements</a>
        <a class="item" href="{{ site.baseurl }}/calendar">Calendar</a>
        <a class="item" href="{{ site.baseurl }}/forms">Forms</a>
      </div>
    </div>
    <div class="ui dropdown item">
      About
      <i class="dropdown icon"></i>
      <div class="menu">
        <a class="item" href="{{ site.baseurl }}/about/media">In The News</a>
        <a class="item" href="{{ site.baseurl }}/about/philosophy">Our Philosophy</a>
        <a class="item" href="{{ site.baseurl }}/about/program">Our Program</a>
        <a class="item" href="{{ site.baseurl }}/about/teachers-and-staff">Teachers & Staff</a>
      </div>
    </div>
    <a class="item" href="{{ site.baseurl }}/contact">Contact</a>
  </div>
</div>