<!DOCTYPE html>
<html>
<head>
  <title>{{ page.title }}</title>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <meta http-equiv="Content-Language" content="en" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />
  <meta property="og:url" content="https://github.com" />
  <meta property="og:site_name" content="Children of Hope Child Development Center" />
  <meta property="og:title" content="Children of Hope Child Development Center" />
  <meta property="og:description" content="Children of Hope Child Development Center is committed to providing a positive first school experience within a Christian environment of understanding, acceptance and love." />
  <meta property="og:image" content="http://childrenofhopecdc.com/assets/images/cohcdc-logo.png" />
  <meta property="og:image:type" content="image/png" />
  <meta property="og:image:width" content="532" />
  <meta property="og:image:height" content="202" />
  <link rel="shortcut icon" type="image/png" href="{{ site.baseurl }}/favicon.ico">
  <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/assets/stylesheets/global.css">
  <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/assets/stylesheets/semantic-2.1.7.css">
  <script src="{{ site.baseurl }}/assets/javascripts/jquery.min.js"></script>
  <script src="{{ site.baseurl }}/assets/javascripts/semantic-2.1.7.js"></script>
  <script src="{{ site.baseurl }}/assets/javascripts/global.js"></script>
</head>
<body>
  <div class="ui container">
    <div class="ui stackable grid">
      <div class="ten wide centered column">
        {% include header.html %}
        {{ content }}
      </div>
    </div>
  </div>
  {% include footer.html %}
</body>
</html>
